<html><%=verified%>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
            <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
            <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
<style>
                .mybtn{
                    display: block;
                    margin: 10px 50px;
                }
            </style>
        </head>
    <body class="background">
        <!-- Image and text -->
        
      <nav class="navbar navbar navbar-dark bg-dark" style="height:10%;">
        <a class="navbar-brand" href="/">
          <img src="/images/left-arrow.png" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right:10px; ">
            Fertilizer Subsidy Distribution
        </a>
      </nav>
      <div>
          <br><br>
          <div class="container">
            <div class="row">
                <!-- <div class="col-md-8" style="box-sizing: border-box; padding: 30px; background-color: white; margin: auto; height: 300px; border-radius: 5px; box-shadow: 0 0 10px rgb(97, 92, 92);">
                        <a class="btn btn-primary mybtn" href="">Farmer Information</a>
                        <a class="btn btn-primary mybtn" href="">Purchase Information</a>
                        <a class="btn btn-primary mybtn" href="">Generate Bill</a>
                        <a class="btn btn-primary mybtn" href="">Authenticate Farmer</a>
                        <a class="btn btn-primary mybtn" href="">Add Purchase</a>
                </div> -->

                <div class="col-md-8" style="box-sizing: border-box; padding: 30px; background-color: white; margin: auto; height: 300px; border-radius: 5px; box-shadow: 0 0 10px rgb(97, 92, 92);">
                    <form method="POST" action="/retailer_page">
                        <h2 style="text-align:center;">Purchase Page</h2>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Aadhar ID</label>
                          <input type="text" id="aadhar" class="form-control" name="AadharId" placeholder="Enter Aadhar ID">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1" required>Quantity</label>
                          <input type="number" class="form-control" name="quantity" placeholder="Quantity">
                        </div>
                        
                        <% if(verified==1 ){ %>
                          <input type="hidden" value="<%= id %>" name="aID">  
                        <input type="submit" class="btn btn-dark" style="float: right">
                        <% }else{ %>
                          <input type="submit" class="btn btn-dark" style="float: right" disabled>
                          <% if(verified==2){ %>
                          <script>alert("Invalid OTP");</script>
                          <%}%>
                        <%}%>
                        <input type="submit" class="btn btn-dark" formaction="/request" value="Generate OTP">
                        <button onclick="document.getElementById('id01').style.display='block'"  class="btn btn-primary">Verify OTP</button>
                      
                      </form>
                      
                      <!--form method="POST" action="/request">
                        <input type="submit" class="btn btn-dark"  value="Generate OTP">    
                    </form-->
                    
                      
                      
                      <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                        
                              <div class="w3-center"><br>
                                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                <!--img src="img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top"-->
                              </div>
                              
                              <form class="w3-container" action="/check" method="POST">
                                <div class="w3-section">
                                  <label><b>Mobile verification</b></label>
                                  <input class="w3-input w3-border w3-margin-bottom" type="number" placeholder="Enter OTP" name="code" required>
                                    <% if(requestID){ %>
                                  <input type="hidden" value="<%= requestID %>" name="reqID">
                                  <input type="hidden" value="<%= id %>" name="aID">
                                        <% } %>
                                  <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Verify OTP</button>
                                </div>
                              </form>

                            </div>    
                        </div>

                      
                </div>  

                <!-- <form method="POST" action="/retailer_page">
                    <input type="text" placeholder="Enter Aadhar ID" required>
                    <input type="number" placeholder="Enter Quantity" required>
                    <input type="submit">
                </form> -->
        
            </div>
        </div> 
               
    </body>
</html>
